.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    z-index: 1;
    top: 100%;
    right: 0;
}

.dropdown-content a {
    color: var(--dark-text) !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: var(--transition);
}

.dropdown-content a:hover {
    background-color: var(--light-blue);
}

.user-dropdown:hover .dropdown-content {
    display: block;
}